# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Streamlit stuff
.streamlit/

# Environment variables
.env
